.calendar-container {
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 0;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 928px) {
  .calendar-container {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.calendar-header {
  background: linear-gradient(to bottom, rgb(250, 251, 253) 0%, rgba(255, 255, 255, 0) 100%);
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10%;

  bronco-icon {
    cursor: pointer;
    --box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 50%;
    --size: 30px;
  }

  .monthYear {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    span {
      width: 100%;
      text-align: center;
    }
  }
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 90%;
}

.day {
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  border-right: 1px solid rgba(166, 168, 179, 0.12);
  text-align: right;
  width: 14.28%; // 100/7
  letter-spacing: 1px;
  font-size: 12px;
  box-sizing: border-box;
  color: #98a0a6;
  position: relative;
  height: 80px;

  &--name {
    font-size: 12px;
    text-transform: uppercase;
    color: #99a1a7;
    text-align: center;
    align-items: center;
    height: 30px;
    border-bottom: 1px solid rgba(166, 168, 179, 0.12);
    font-weight: 500;
    width: 14.28%; // 100/7
    line-height: 50px;
    height: 50px;
  }

  &--occupied {
    background: rgba(#fdc5d0, 0.7);
    background: linear-gradient(#ffe8ec9d 10%, #fdc5d0 90%);
  }

  &--disabled {
    color: rgba(#98a0a675, 0.6);
    background-color: #ffffff7c;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    cursor: not-allowed;
  }
}

.entries {
  position: relative;
  height: 80%;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;

  .entry {
    width: 100%;
    align-self: flex-end;
    background-color: #ff869f;
    color: white;
    margin-top: 2px;
  }
}

// .day > .entry {
//   pointer-events: none;
//   width: 100%;
//   margin-right: 5px;
//   z-index: 2;
// }

// .day:hover,
// .entryDetail:hover {
//   .entryDetail {
//     display: block;
//     z-index: 9999 !important;
//   }
// }

// #num {
//   position: absolute;
//   top: 5px;
//   right: 5px;
// }

// #numBottom {
//   position: absolute;
//   bottom: 5px;
//   right: 5px;
// }

// .entryDetail {
//   display: none;
//   position: absolute;
//   left: 0;
//   top: calc(100% - 5px);
//   background: #fff;
//   border: 1px solid rgba(166, 168, 179, 0.2);
//   color: #000;
//   box-sizing: border-box;
//   border-radius: 4px;
//   box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
//   z-index: 9999;
//   width: 100%;

//   &:after,
//   &:before {
//     bottom: 100%;
//     left: 50%;
//     border: solid transparent;
//     content: " ";
//     height: 0;
//     width: 0;
//     position: absolute;
//     pointer-events: none;
//   }

//   &:before {
//     border-bottom-color: rgba(166, 168, 179, 0.2);
//     border-width: 8px;
//     margin-left: -8px;
//   }

//   &:after {
//     border-bottom-color: #fff;
//     border-width: 6px;
//     margin-left: -6px;
//   }

//   .entryInfo {
//     margin: 0;
//     padding: 0;
//     padding: 15px;
//     cursor: pointer;

//     &:hover {
//       background: rgba(172, 229, 255, 0.397);
//     }

//     h2 {
//       font-size: 15px;
//       margin: 0;
//       color: #51565d;
//     }

//     p {
//       margin-top: 4px;
//       font-size: 12px;
//       margin-bottom: 0;
//       font-weight: 500;
//       color: rgba(#51565d, 0.7);
//     }
//   }
// }
